{% extends 'base.html.twig' %}

{% block title %}Nos Formations{% endblock %}

{% block body %}

<div class="formation mobile" style="background-color: white;">
            <h2 class="mobile">Découvrer nos <br> <span class="orange"> Formations</span> disponibles</h2>
            <p class="mobile">Grâce à nos offres que vous cherchiez à obtenir votre permis pour la fois ou que souhaiter améliorer vos compétence en matière de conduite.
            <br> Nous avons ce qu’il vous faut à vous de choisir.
            </p>
      {% for formation in formationList %}
            <div class="case-slider">
              <p style="background-color: #F56155" >{{formation.title}}</p>
            </div>
            <div class="formation-text">
              <div class="forfait">
                  <h2>Forfait <span class="orange">{{formation.initial}}</span></h2>
                  <p>{{formation.description}} <br>
                  <div class="prix">
                  {% if formation.discount is defined %}
                  <del>{{formation.price}}
                  <span class="orange">HT</span></p></div>
                  </del>
                  <br>
                  {{formation.discount}}<span class="orange">HT</span></p></div>
                  {% else %}
                  {{formation.price}}
                  <span class="orange">HT</span></p></div>
                  {% endif %}
              </div>
            </div>
            {% endfor %}
</div>

<!-- -----------------Début PC------------------------ -->
<div class="nosFormation">
  <h1>Nos <span class="orange">Formations</span></h1>
  <p>Choisissez parmis notre large panel de formations.
    <br>Découvrez nos offres plus bas.</p>
</div>
{% for formation in formationList %}
<div class="formation-PC">
  <h5 class="codeFormation">{{formation.initial}}</h5>
  <H2>{{formation.title}} <i class="fa-solid fa-plus"></i></H2>
  {% if formation.discount is defined %}
  <h5 class="prixPC"><del>{{formation.price}}</del> HT</h5>
  <h5 class="prixPC">{{formation.discount}} HT</h5>
  {% else %}
  <h5 class="prixPC">{{formation.price}} HT </h5>
  {% endif %}

  <p>{{formation.description}}</p>
  <span class="orange">Cette formation comprend :</span>
 <p>{{formation.content}}</p>
  <button class="btn-formation">Choisir cette formation</button>
</div>

{% endfor %}

</div>
{% endblock %}
