<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    <title>ABConduite - Actualités</title>
    <link rel="stylesheet" href={{asset('asset/style.css')}}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c767e4ede8.js" crossorigin="anonymous"></script>
</head>

<!--NavBarMobile -->
<body>
    <div class="lightgrey">

    <div class="navbar">
       <div class="navbarPC">
      <a href="#">Formation</a>
      <a href="#">Actualités</a>
      <a href="#">Contact</a>
      <a class="logo-reseaupc" href="#"><img class="logopc" src={{asset('asset/img/logo/insta.png')}} alt=""></a>
      <a class="logo-reseaupc" href="#"><img class="logopc" src={{asset('asset/img/logo/tiktok.png')}} alt=""></a>
      <a class="logo-reseaupc" href="#"><img class="logopc" src={{asset('asset/img/logo/facebook.png')}} alt=""></a>
      <a class="btn-devis" href="#">Devis gratuit</a>
      </div>
    
      <div class="hamb-menu">
          <img class="btn-navmobile" src={{asset('asset/img/hamburger-md-svgrepo-com.png')}} alt="">
          <div class="nav-mobile">
            <i class="fa-solid fa-xmark"></i>
            <a href="#"><li>Formation</li></a>
            <a href="#"><li>Actualité</li></a>
            <a href="#"><li>Contact</li></a>
          </div>
          <h1>AB<span class="orange">Conduite</span></h1>
    <div class="navbar-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, assumenda similique. Ullam, itaque cupiditate illum rerum tenetur porro sed id!
    </div>
    <div class="navbar-btn">Nous contacter</div>
    
    </div>
    </div>
        
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src={{ asset('asset/index.js')}}></script>   
</body>
<!-- Footer Mobile -->
<footer>
    <div class="footer">
      <div class="ABconduite">
        <h2>AB<span class="orange">Conduite</span></h2>
        <li>Numéro de téléphone</li>
        <li>Adresse</li>
        <div class="logo-reseau">
           <div class="logo"><img src={{asset("asset/img/logo/facebook.png")}} alt=""></div>
            <div class="logo"><img src={{asset("asset/img/logo/insta.png")}} alt=""></div>
            <div class="logo"><img src={{asset("asset/img/logo/tiktok.png")}} alt=""></div>
        </div>
      </div>
      <div class="lienutile">
        <h2>Lien Utile</h2>
        <li><a href="#">Formation</a></li>
        <li><a href="#">Actualités</a></li>
        <li><a href="#">Contact</a></li>
        
      </div>
    </div>
  </footer>

</html>
